:root {
	--bg-grey-dk: #1B1B1E;
	--bg-grey-md: #3B3B3E;
	--bg-grey-lt: #585859;

	--text-grey-dk: #807A7B;
	--text-grey-lt: #CFC9CA;

	--harsh-white: #FFFFFF;

	--accent-p-bluegrotto: #2692D0 ;
	--accent-p-tiffanyblue: #59CEE0;
	--accent-p-aquablue: #47D8E0;
	--accent-p-neonpink:  #fd3a69;
	--accent-p-blue: #B0B8F4;
	--accent-p-gold: #fecd1a;
	--accent-p-pink: #FFBADB;
}

body {
	background-color: var(--bg-grey-md);
	color: var(--text-grey-lt);
	font-size: 16px;
	font-family: "Lucida Console", Monaco, monospace;
	margin: 1rem auto;
	max-width: 80ch;
}
body *::selection {
	background-color: var(--bg-grey-lt);
}

a {
	color: var(--accent-p-blue);
	text-decoration: none;
}
a:hover {
	color: var(--harsh-white);
	text-decoration: underline;
}

code {
	background-color: var(--bg-grey-dk);
	font-family: "Courier New", Courier, monospace;
	padding: 2px;
}

h3 {
	color: var(--accent-purple-dk);
}

hr {
	border: 0;
	border-bottom: 2px dashed;
	color: var(--text-grey-dk);
}

.sourceCode {
	background-color: var(--bg-grey-dk);
	border-radius: 5px;
	color: var(--harsh-white);
	font-family: "Courier New", Courier, monospace;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 80ch;
}

.pr {
	color: var(--accent-p-bluegrotto);
}
.po {
	color: var(--accent-p-tiffanyblue);
}
.py {
	color: var(--accent-p-aquablue);
}
.pg {
	color: var(--accent-p-neonpink);
}
.pb {
	color: var(--accent-p-blue);
}
.pp {
	color: var(--accent-p-gold);
}

.pi {
	color: var(--accent-p-pink);
}

.white {
	color: var(--harsh-white);
}

